p {
  color: green;
}

#titol {
  text-decoration: underline;
  font-weight: bold;
}

.text-important {
  color: red;
  font-weight: bold;
}

.vermell {
  color: red;
}

.verd {
  color: green;
}

.blau {
  color: blue;
}

.gran {
  font-size: 24px;
}

.negreta {
  font-weight: bold;
}

.subratllat {
  text-decoration: underline;
}

pointer {
  ::before {
    content: 👉 (blau);
  }
  ::after {
    content: ✔ (blau);
  }
}